// Override Bulma variables
$family-sans-serif: "Nanum Gothic", sans-serif;
$footer-background-color: whitesmoke;
$body-size: 18px;

// Import Bulma
@import "~bulma/bulma";

// Katex
@import "~katex/dist/katex.min.css";

// Font Style
@import "./font-style.scss";

// Custom imports
@import "./custom.scss";

 